body {
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
}

input[type=time], select, textarea {
    width: 35%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    margin-right: 40px; 
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
  }

h2{
    text-align: center;
    color: rgb(175, 158, 158);
    font-family: sans-serif;
}

h5{
    text-align: center;
    color:rgb(175, 158, 158);
    font-family: sans-serif;
}
  
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #371a7a;
    padding: 20px;
    margin-top: 10px;
}

label{
    color:white;
    font-family: sans-serif;
}

input[type=text]:disabled{
    background-color: cornsilk;
}

select{
    width: 100%;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
}

#salutation{
    width: 10%;
    margin-right: 0px;
}

#displayingName{
    width: 89%;
}