.card {
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(179, 205, 209);
    width: 80%;
    border-radius: 20px; 
  }

  .details{
    margin: auto;
    margin-left: 180px;
    
  }
  
  
  
  img {
    
    border-radius: 150px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    
  }

  h1.username{
    font-size: 50px;
    margin-bottom: 10px;  
    margin-top: 10px; 
  }

  h3{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
  }

.desAndRatings{
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  height: auto;
  margin-top: 50px;
}


.description{
    background-color: rgb(65, 137, 139);
    
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto;
    width: 50%;
    border-radius: 20px;
    border-color: black;
    margin-right: 50px;
}

h1.Des{
  margin-bottom: 40px;
}

h2.des{
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

p.mySelf{
  margin-left: 40px;
}

.ratings{
    background-color:rgb(117, 195, 243);
    
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    width: 50%;
    border-radius: 20px;
    border-color: black;
    
}

.ratings:hover{
  background-color:rgb(91, 184, 241) ;
}

.checked {
  color: orange;
}


td{
  padding-left: 50px;
}

table{
  border-spacing: 20px;
}

h1.myRatings{
  padding-left: 200px;
  padding-bottom: 20px;
}

h2.totalRatings{
  padding-left: 70px;
  font-size: 20px;
}

h1.Des{
  padding-left: 200px;
}

.container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.classList{
  
  margin: auto;
  border-style: solid;
  height: auto;
  background-color: rgb(127, 209, 176);
  border-radius: 20px;
}

h1.enrolledClasses{
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 33px;
  margin-left: 50px;
  margin-right: 50px;
  
}

.list{
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 100px;
  line-height: 2.5em;
}


a.class_link{
  margin-bottom: 20px;
  font-size: medium;
  margin-bottom: 30px;
}