  /* body{
    background: url("Images/logo1.png") no-repeat center fixed;
    background-color:rgb(131, 243, 239);

  } */
  body ,html{
    background-color: white;
    background-position: 50%;
    background-size: 100%;
    background-image: url("../../Private/Images/background2.jpg");
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  /*-------Footer---------*/
  .footer {
    position:relative;
    width: 100%;
    bottom: 10px;
    color: black;
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }